**© Jesús López**

Ask him any doubt on **[Twitter](https://twitter.com/jsulopzs)** or **[LinkedIn](https://linkedin.com/in/jsulopzs)**

## Chapter Importance

Machine Learning models learn a mathematical equation from historical data.

Not all Machine Learning models predict the same way; some models are better than others.

We measure how good a model is by calculating its score (accuracy).

So far, we have calculated the model's score using the same data to fit (train) the mathematical equation. That's cheating. That's overfitting.

This tutorial compares 3 different models:

- Decision Tree
- Logistic Regression
- Support Vector Machines

We validate the models in 2 different ways:

1. Using the same data during training
2. Using 30% of the data; not used during training

To demonstrate how the selection of the best model changes if we are to validate the model with data not used during training.

For example, the image below shows the best model, when using the same data for validation, is the Decision Tree (0.86 of accuracy). Nevertheless, everything changes when the model is evaluated with data not used during training; the best model is the Logistic Regression (0.85 of accuracy). Whereas the Decision Tree only gets up to 0.80 of accuracy.


![df_comp.jpeg](https://cdn.hashnode.com/res/hashnode/image/upload/v1661356658503/xtMfk_S0n.jpeg align="left")

Were we a bank whose losses rank up to 1M USD due to 0.01 fail in accuracy, we would have lost 5M USD. This is something that happens in real life.

In short, banks are interested in good models to predict new potential customers. Not historical customers who have already gotten a loan and the bank knows if they were good to pay or not.

This tutorial shows you how to implement the `train_test_split` technique to reduce overfitting with a practical use case where we want to classify whether a person used the Internet or not.

## [ ] Load the Data

Load the dataset from [CIS](https://www.cis.es/cis/opencms/ES/index.html), executing the following lines of code:

In [2]:
import pandas as pd #!

df_internet = pd.read_excel('https://github.com/jsulopzs/data/blob/main/internet_usage_spain.xlsx?raw=true', sheet_name=1, index_col=0)
df_internet

           internet_usage     sex  age    education
name
Josefina                0  Female   66   Elementary
Vicki                   1    Male   72   Elementary
...                   ...     ...  ...          ...
Christine               1    Male   31  High School
Pepe                    0    Male   52   Elementary

[2455 rows x 4 columns]

- The goal of this dataset is
- To predict `internet_usage` of **people** (rows)
- Based on their **socio-demographical characteristics** (columns)

## Preprocess the Data

### Missing Data

In [4]:
df_internet.isna().sum()

internet_usage    0
sex               0
age               0
education         0
dtype: int64

### Dummy Variables

In [5]:
df_internet

           internet_usage     sex  age    education
name
Josefina                0  Female   66   Elementary
Vicki                   1    Male   72   Elementary
...                   ...     ...  ...          ...
Christine               1    Male   31  High School
Pepe                    0    Male   52   Elementary

[2455 rows x 4 columns]

In [8]:
df_internet = pd.get_dummies(data=df_internet, drop_first=True)

## Feature Selection

In [10]:
y = df_internet.internet_usage

In [13]:
X = df_internet.drop(columns='internet_usage')

## [ ] Build & Compare Models' Scores

We should already know that the Machine Learning procedure is the same all the time:
1. Computing a mathematical equation: **fit**
2. To calculate predictions: **predict**
3. And compare them to reality: **score**

The only element that changes is the `Class()` that contains lines of code of a specific algorithm (DecisionTreeClassifier, SVC, LogisticRegression).

### `DecisionTreeClassifier()` Model in Python

In [14]:
from sklearn.tree import DecisionTreeClassifier

In [15]:
model_dt = DecisionTreeClassifier()

In [16]:
model_dt.fit(X,y)

DecisionTreeClassifier()

In [17]:
model_dt.score(X,y)

0.859877800407332

### `SVC()` Model in Python

In [18]:
from sklearn.svm import SVC

In [19]:
model_sv = SVC()

In [20]:
model_sv.fit(X,y)

SVC()

In [21]:
model_sv.score(X,y)

0.7837067209775967

### `LogisticRegression()` Model in Python

In [26]:
from sklearn.linear_model import LogisticRegression

In [29]:
model_lr = LogisticRegression(max_iter=1000)

In [30]:
model_lr.fit(X,y)

LogisticRegression(max_iter=1000)

In [31]:
model_lr.score(X,y)

0.8334012219959267

## [ ] Function to Automate Lines of Code

- We repeated all the time the same code:

```Python
model.fit()
model.score()
```

- Why not turn the lines into a `function()` to **automate the process**?

```Python
calculate_accuracy(model_dt)
calculate_accuracy(model_sv)
calculate_accuracy(model_lr)
```

- To calculate the `accuracy`

### Make a Procedure Sample for `DecisionTreeClassifier()`

### Automate the Procedure into a `function()`

**Code Thinking**

1. Think of the functions `result`
2. Store that `object` to a variable
3. `return` the `result` at the end
4. **Indent the body** of the function to the right
5. `def`ine the `function():`
6. Think of what's gonna change when you execute the function with `different models`
7. Locate the **`variable` that you will change**
8. Turn it into the `parameter` of the `function()`

In [37]:
def calculate_accuracy(model):

    model.fit(X,y)

    result = model.score(X,y)

    return result

## Calculate Models' Accuracies

### `DecisionTreeClassifier()` Accuracy

In [38]:
calculate_accuracy(model_dt)

0.859877800407332

### `SVC()` Accuracy

In [39]:
calculate_accuracy(model_sv)

0.7837067209775967

### `LogisticRegression()` Accuracy

In [40]:
calculate_accuracy(model_lr)

0.8334012219959267

## Which is the Best Model?

## [ ] University Access Exams Analogy

Let's **imagine**:

1. You have a `math exam` on Saturday
2. Today is Monday
3. You want to **calibrate your level in case you need to study more** for the math exam
4. How do you calibrate your `math level`?
5. Well, you've got **100 questions `X` with 100 solutions `y`** from past years exams
6. You may study the 100 questions with 100 solutions `fit(100questions, 100solutions)`
7. Then, you may do a `mock exam` with the 100 questions `predict(100questions)`
8. And compare `your_100solutions` with the `real_100solutions`
9. You've got **90/100 correct answers** `accuracy` in the mock exam
10. You think you are **prepared for the maths exam**
11. And when you do **the real exam on Saturday, the mark is 40/100**
12. Why? How could we have prevented this?
13. **Solution**: separate the 100 questions into `70 for train` to study & `30 for test` for the mock exam.

## `train_test_split()` the Data

In [43]:
from sklearn.model_selection import train_test_split

In [44]:
X

,age,sex_Male,education_High School,education_Higher Level,education_No studies,education_PhD,education_University
name,,,,,,,
Josefina,66,0,0,0,0,0,0
Vicki,72,1,0,0,0,0,0
...,...,...,...,...,...,...,...
Christine,31,1,1,0,0,0,0
Pepe,52,1,0,0,0,0,0

In [45]:
y

name
Josefina     0
Vicki        1
            ..
Christine    1
Pepe         0
Name: internet_usage, Length: 2455, dtype: int64

In [46]:
>>> X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.33, random_state=42)

### What the heck is returning the function?

In [48]:
df_internet

,internet_usage,age,sex_Male,education_High School,education_Higher Level,education_No studies,education_PhD,education_University
name,,,,,,,,
Josefina,0,66,0,0,0,0,0,0
Vicki,1,72,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...
Christine,1,31,1,1,0,0,0,0
Pepe,0,52,1,0,0,0,0,0

In [49]:
X_test

,age,sex_Male,education_High School,education_Higher Level,education_No studies,education_PhD,education_University
name,,,,,,,
Thomas,52,0,0,0,0,0,0
Pedro,48,1,0,1,0,0,0
...,...,...,...,...,...,...,...
James,18,1,1,0,0,0,0
Phyllis,62,0,0,0,0,0,0

In [47]:
X_train

,age,sex_Male,education_High School,education_Higher Level,education_No studies,education_PhD,education_University
name,,,,,,,
Alice,66,0,0,0,0,0,0
Richard,63,1,0,0,0,0,0
...,...,...,...,...,...,...,...
Corey,52,0,0,0,0,0,0
Robert,46,0,0,0,0,0,0

In [50]:
y_train

name
Alice      0
Richard    0
          ..
Corey      0
Robert     1
Name: internet_usage, Length: 1644, dtype: int64

In [51]:
y_test

name
Thomas     0
Pedro      1
          ..
James      1
Phyllis    0
Name: internet_usage, Length: 811, dtype: int64

### `fit()` the model with Train Data

In [52]:
model_dt = DecisionTreeClassifier()

In [53]:
model_dt.fit(X=X_train, y=y_train)

DecisionTreeClassifier()

### Compare the predictions with the real data

In [54]:
model_dt.score(X_test, y_test)

0.8064118372379778

## [ ] Optimize All Models & Compare Again

### Make a Procedure Sample for `DecisionTreeClassifier()`

In [55]:
model_dt = DecisionTreeClassifier()

In [56]:
model_dt.fit(X_train, y_train)

DecisionTreeClassifier()

In [57]:
model_dt.score(X_test, y_test)

0.8064118372379778

### Automate the Procedure into a `function()`

**Code Thinking**

1. Think of the functions `result`
2. Store that `object` to a variable
3. `return` the `result` at the end
4. **Indent the body** of the function to the right
5. `def`ine the `function():`
6. Think of what's gonna change when you execute the function with `different models`
7. Locate the **`variable` that you will change**
8. Turn it into the `parameter` of the `function()`

In [58]:
def calculate_accuracy_test(model):

    model.fit(X_train, y_train)

    result = model.score(X_test, y_test)

    return result

## Calculate Models' Accuracies

### `DecisionTreeClassifier()` Accuracy

In [59]:
calculate_accuracy_test(model_dt)

0.8064118372379778

### `SVC()` Accuracy

In [60]:
calculate_accuracy_test(model_sv)

0.7866831072749692

### `LogisticRegression()` Accuracy

In [61]:
calculate_accuracy_test(model_lr)

0.8508014796547472

## [ ] Which is the Best Model with `train_test_split()`?

In [69]:
??

In [63]:
df_acc = pd.DataFrame()

In [65]:
df_acc['models'] = [model_dt, model_sv, model_lr]

In [66]:
df_acc

                              models
0           DecisionTreeClassifier()
1                              SVC()
2  LogisticRegression(max_iter=1000)

In [68]:
df_acc['Same Data'] = df_acc.models.apply(func=calculate_accuracy)

In [69]:
df_acc['Test Data'] = df_acc.models.apply(func=calculate_accuracy_test)

In [71]:
df_acc.style.background_gradient()

In [73]:
df_acc.style.background_gradient('Reds')

In [72]:
df_acc.style.background_gradient('Greens')