# Train Test Split

In [ ]:
???

![](src/comparison.png)

## Data loading

In [1]:
import pandas as pd

df = pd.read_excel(
    '../../data/data_stock_apple.xlsx',
    parse_dates=['Date'], index_col=0
    )
df

,Open,High,Low,Close,Volume,change_tomorrow,change_tomorrow_direction
Date,,,,,,,
2007-01-09,3.087500,3.320714,3.041071,3.306071,3349298400,4.567032,UP
2007-01-10,3.383929,3.492857,3.337500,3.464286,2952880000,-1.252610,DOWN
...,...,...,...,...,...,...,...
2023-06-28,187.929993,189.899994,187.600006,189.250000,51216800,0.179332,UP
2023-06-29,189.080002,190.070007,188.940002,189.589996,46347300,2.258084,UP

## Feature selection

## Machine Learning System

Decision Tree Classifier

### Calculate the score in all dataset

### Calculate the score in the test set

#### Create train and test sets

Look for the function in `model_selection`

#### Machine Learning development

### Reflect

#### Compare predictions to reality in a `DataFrame`

## Other algorithms

### Logistic Regression

#### Calculate the score in all dataset

#### Calculate the score in the test set

### Gradient Boosting

#### Calculate the score in all dataset

#### Calculate the score in the test set

## Compare all models in a `DataFrame`

In [60]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier

list_model = [LogisticRegression(), DecisionTreeClassifier(), GradientBoostingClassifier()]

list_model_train = []
for model in list_model:
    model.fit(X=X_train, y=y_train)
    score = model.score(X=X_test, y=y_test)
    list_model_train.append(score)
    
list_model_all = []
for model in list_model:
    model.fit(X=explanatory, y=target)
    score = model.score(X=X_test, y=y_test)
    list_model_all.append(score)

In [61]:
df_score = pd.DataFrame({
    'model': list(map(lambda x: x.__class__.__name__, list_model)),
    'score_all': list_model_all,
    'score_train_test': list_model_train,
})

df_score

                        model  score_all  score_train_test
0          LogisticRegression   0.538956          0.538956
1      DecisionTreeClassifier   1.000000          0.507631
2  GradientBoostingClassifier   0.653815          0.515663