# Train Test Split

## Data loading

In [40]:
import pandas as pd
import seaborn as sns

df_mpg = pd.get_dummies(sns.load_dataset('mpg', index_col='name').dropna())
df_mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin_europe,origin_japan,origin_usa
name,,,,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,0,0,1
buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,0,0,1
...,...,...,...,...,...,...,...,...,...,...
ford ranger,28.0,4,120.0,79.0,2625,18.6,82,0,0,1
chevy s-10,31.0,4,119.0,82.0,2720,19.4,82,0,0,1

## Feature selection

## Machine Learning System

Decision Tree Regressor

### Calculate the score in all dataset

In [ ]:
from sklearn.tree import Deci

### Calculate the score in the test set

#### Create train and test sets

Look for the function in `model_selection`

In [1]:
from sklearn.model_selection import train_test_split

In [ ]:
>>> X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.33, random_state=42)

#### Machine Learning development

### Reflect

#### Compare predictions to reality in a `DataFrame`

## Other algorithms

### Linear Regression

#### Calculate the score in all dataset

#### Calculate the score in the test set

### Random Forest

#### Calculate the score in all dataset

#### Calculate the score in the test set

## Compare all models in a `DataFrame`

In [60]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression

list_model = [DecisionTreeRegressor(), RandomForestRegressor(), LinearRegression()]

list_model_train = []
for model in list_model:
    model.fit(X=X_train, y=y_train)
    score = model.score(X=X_test, y=y_test)
    list_model_train.append(score)
    
list_model_all = []
for model in list_model:
    model.fit(X=explanatory, y=target)
    score = model.score(X=X_test, y=y_test)
    list_model_all.append(score)

In [61]:
df_score = pd.DataFrame({
    'model': list(map(lambda x: x.__class__.__name__, list_model)),
    'score_all': list_model_all,
    'score_train_test': list_model_train,
})

df_score

                   model  score_all  score_train_test
0  DecisionTreeRegressor   1.000000          0.807948
1  RandomForestRegressor   0.978396          0.845569
2       LinearRegression   0.836913          0.824217