# Classification vs Regression ML Models

## Data loading

In [2]:
import pandas as pd
import seaborn as sns

df_mpg = sns.load_dataset('mpg', index_col='name').dropna()
df_mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
name,,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
...,...,...,...,...,...,...,...,...
ford ranger,28.0,4,120.0,79.0,2625,18.6,82,usa
chevy s-10,31.0,4,119.0,82.0,2720,19.4,82,usa

## Feature selection

Create two target variables:

1. `target_categorical`
2. `target_numerical`

And select the explanatory variables:

## Machine Learning System

K Nearest Neighbors

### ML classification model

#### Fit the mathematical equation

#### Calculate predictions

#### Compare predictions to reality

#### Compare predictions to reality in a `DataFrame`

### ML regression model

#### Fit the mathematical equation

#### Calculate predictions

#### Compare predictions to reality

#### Compare predictions to reality in a `DataFrame`

#### Join regression and classification `DataFrame`

## Other algorithms

### Decision Tree

#### Regression

#### Classification

### Random Forest

#### Regression

#### Classification

## Compare all models in a `DataFrame`

### Regression models

In [ ]:
list_model_regression = [model_kn_r, model_dt_r, model_rf_r]
list_model_regression_names = map(lambda x: x.__class__.__name__, list_model_regression)
list_model_regression_predictions = list(map(lambda x: x.predict(X=explanatory), list_model_regression))
df_pred_regression = pd.DataFrame(
    list_model_regression_predictions,
    index=list_model_regression_names).T.set_index(df.index)

df_pred_regression.insert(0, 'target_numerical', target_numerical)
df_pred_regression

### Classification models

In [ ]:
list_model_classification = [model_kn_c, model_dt_c, model_rf_c]
list_model_classification_names = map(lambda x: x.__class__.__name__, list_model_classification)
list_model_classification_predictions = list(map(lambda x: x.predict(X=explanatory), list_model_classification))
df_pred_classification = pd.DataFrame(
    list_model_classification_predictions,
    index=list_model_classification_names).T.set_index(df.index)

df_pred_classification.insert(0, 'target_numerical', target_categorical)
df_pred_classification