# Classification vs Regression ML Models

## Data loading

In [6]:
import pandas as pd
import seaborn as sns

df_mpg = sns.load_dataset('mpg', index_col='name').dropna()
df_mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
name,,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
...,...,...,...,...,...,...,...,...
ford ranger,28.0,4,120.0,79.0,2625,18.6,82,usa
chevy s-10,31.0,4,119.0,82.0,2720,19.4,82,usa

## Feature selection

Create two target variables:

1. `target_categorical`
2. `target_numerical`

In [7]:
target_categorical = df_mpg.origin
target_numerical = df_mpg.mpg

And select the explanatory variables:

In [8]:
explanatory = df_mpg.drop(columns=['mpg', 'origin'])

## Machine Learning System

K Nearest Neighbors

### ML classification model

#### Fit the mathematical equation

In [9]:
from sklearn.neighbors import KNeighborsClassifier

model_kn_c = KNeighborsClassifier()
model_kn_c.fit(X=explanatory, y=target_categorical)

KNeighborsClassifier()

#### Calculate predictions

In [10]:
model_kn_c.predict(X=explanatory)

array(['usa', 'usa', 'usa', 'usa', 'usa', 'usa', 'usa', 'usa', 'usa',
       'usa', 'usa', 'usa', 'usa', 'usa', 'japan', 'usa', 'usa', 'usa',
       'japan', 'europe', 'europe', 'europe', 'japan', 'europe', 'usa',
       'usa', 'usa', 'usa', 'usa', 'japan', 'japan', 'europe', 'usa',
       'usa', 'usa', 'usa', 'usa', 'usa', 'usa', 'usa', 'usa', 'usa',
       'usa', 'usa', 'usa', 'usa', 'usa', 'usa', 'japan', 'japan',
       'europe', 'europe', 'japan', 'japan', 'europe', 'japan', 'japan',
       'usa', 'japan', 'usa', 'usa', 'usa', 'usa', 'usa', 'usa', 'usa',
       'usa', 'usa', 'usa', 'usa', 'japan', 'usa', 'usa', 'usa', 'usa',
       'europe', 'europe', 'europe', 'europe', 'usa', 'japan', 'japan',
       'usa', 'usa', 'usa', 'usa', 'usa', 'usa', 'usa', 'usa', 'usa',
       'usa', 'usa', 'usa', 'usa', 'usa', 'usa', 'usa', 'usa', 'usa',
       'usa', 'japan', 'usa', 'usa', 'usa', 'usa', 'usa', 'japan', 'usa',
       'japan', 'japan', 'usa', 'usa', 'japan', 'usa', 'usa', 'europe',
       'japan', 'usa', 'usa', 'usa', 'europe', 'europe', 'usa', 'usa',
       'usa', 'usa', 'europe', 'europe', 'europe', 'usa', 'usa', 'usa',
       'usa', 'usa', 'usa', 'usa', 'usa', 'usa', 'europe', 'japan',
       'japan', 'japan', 'japan', 'usa', 'japan', 'japan', 'japan',
       'japan', 'japan', 'usa', 'usa', 'usa', 'usa', 'usa', 'usa', 'usa',
       'usa', 'usa', 'usa', 'usa', 'usa', 'usa', 'usa', 'usa', 'usa',
       'usa', 'usa', 'usa', 'japan', 'europe', 'japan', 'usa', 'europe',
       'usa', 'europe', 'europe', 'europe', 'europe', 'japan', 'europe',
       'usa', 'usa', 'japan', 'europe', 'usa', 'usa', 'usa', 'usa', 'usa',
       'usa', 'usa', 'usa', 'japan', 'usa', 'europe', 'japan', 'usa',
       'usa', 'usa', 'usa', 'europe', 'japan', 'usa', 'usa', 'europe',
       'usa', 'europe', 'japan', 'usa', 'usa', 'usa', 'usa', 'usa',
       'japan', 'japan', 'europe', 'usa', 'europe', 'usa', 'usa', 'usa',
       'usa', 'usa', 'usa', 'usa', 'usa', 'usa', 'usa', 'usa', 'usa',
       'europe', 'usa', 'japan', 'usa', 'japan', 'europe', 'japan',
       'europe', 'japan', 'europe', 'japan', 'japan', 'japan', 'japan',
       'europe', 'japan', 'usa', 'usa', 'usa', 'usa', 'usa', 'usa', 'usa',
       'usa', 'usa', 'usa', 'usa', 'usa', 'usa', 'usa', 'usa', 'usa',
       'usa', 'usa', 'usa', 'usa', 'europe', 'europe', 'usa', 'usa',
       'usa', 'europe', 'europe', 'japan', 'usa', 'japan', 'europe',
       'usa', 'usa', 'usa', 'usa', 'usa', 'usa', 'usa', 'usa', 'usa',
       'usa', 'usa', 'usa', 'usa', 'europe', 'japan', 'europe', 'europe',
       'usa', 'usa', 'europe', 'usa', 'europe', 'japan', 'japan', 'usa',
       'usa', 'usa', 'usa', 'usa', 'japan', 'japan', 'usa', 'japan',
       'usa', 'usa', 'usa', 'usa', 'europe', 'japan', 'japan', 'europe',
       'japan', 'japan', 'japan', 'japan', 'japan', 'europe', 'europe',
       'europe', 'europe', 'japan', 'europe', 'japan', 'japan', 'europe',
       'japan', 'japan', 'usa', 'usa', 'usa', 'usa', 'japan', 'europe',
       'japan', 'japan', 'japan', 'japan', 'japan', 'usa', 'japan',
       'japan', 'europe', 'japan', 'japan', 'usa', 'usa', 'europe',
       'europe', 'japan', 'japan', 'usa', 'usa', 'usa', 'usa', 'europe',
       'usa', 'japan', 'usa', 'japan', 'usa', 'usa', 'japan', 'japan',
       'japan', 'usa', 'usa', 'usa', 'europe', 'japan', 'japan', 'japan',
       'japan', 'usa', 'usa', 'usa', 'usa', 'usa', 'usa', 'europe', 'usa',
       'europe', 'usa', 'usa', 'japan'], dtype=object)

#### Compare predictions to reality

In [11]:
model_kn_c.score(X=explanatory, y=target_categorical)

0.8214285714285714

#### Compare predictions to reality in a `DataFrame`

In [12]:
df_pred_classification = target_categorical.to_frame()
df_pred_classification['prediction_classification'] = model_kn_c.predict(X=explanatory)
df_pred_classification

                          origin prediction_classification
name
chevrolet chevelle malibu    usa                       usa
buick skylark 320            usa                       usa
...                          ...                       ...
ford ranger                  usa                       usa
chevy s-10                   usa                     japan

[392 rows x 2 columns]

### ML regression model

#### Fit the mathematical equation

In [13]:
from sklearn.neighbors import KNeighborsRegressor

model_kn_r = KNeighborsRegressor()
model_kn_r.fit(X=explanatory, y=target_numerical)

KNeighborsRegressor()

#### Calculate predictions

In [14]:
model_kn_r.predict(X=explanatory)

array([18.24, 15.28, 17.04, 17.04, 17.04, 14.5 , 14.5 , 14.9 , 13.8 ,
       16.84, 15.64, 15.44, 16.52, 20.22, 23.8 , 23.54, 22.12, 24.12,
       27.  , 29.66, 24.88, 27.78, 26.2 , 24.  , 24.16, 12.8 , 13.48,
       13.48, 12.4 , 27.  , 28.44, 24.  , 23.12, 19.48, 18.58, 17.8 ,
       18.2 , 14.8 , 12.8 , 14.8 , 14.7 , 11.8 , 12.8 , 12.  , 22.4 ,
       23.  , 18.44, 17.8 , 25.54, 27.82, 33.04, 33.04, 34.24, 34.24,
       29.66, 29.7 , 25.04, 28.6 , 28.24, 21.78, 24.98, 13.7 , 14.3 ,
       14.9 , 14.3 , 14.92, 12.8 , 13.4 , 13.2 , 13.6 , 29.76, 16.3 ,
       14.7 , 13.8 , 14.7 , 21.24, 26.02, 25.34, 31.6 , 27.18, 24.8 ,
       25.02, 29.  , 28.32, 14.  , 14.92, 15.3 , 14.8 , 16.64, 11.8 ,
       13.4 , 15.28, 14.8 , 13.2 , 11.8 , 15.64, 19.8 , 18.44, 19.04,
       24.16, 22.48, 30.92, 11.8 , 11.8 , 13.2 , 13.4 , 21.58, 24.8 ,
       23.  , 26.2 , 25.  , 25.94, 26.64, 26.04, 15.  , 15.3 , 34.88,
       30.5 , 25.1 , 22.4 , 17.04, 26.68, 22.36, 14.2 , 20.3 , 21.08,
       18.58, 29.1 , 27.8 , 33.88, 29.06, 16.32, 18.26, 18.32, 14.7 ,
       13.  , 14.  , 12.8 , 14.7 , 29.12, 33.02, 25.08, 34.24, 34.04,
       31.68, 34.1 , 29.82, 26.06, 25.8 , 32.9 , 18.94, 18.52, 19.18,
       17.8 , 13.4 , 13.4 , 13.4 , 14.  , 15.7 , 15.7 , 17.2 , 16.5 ,
       23.94, 19.48, 17.32, 27.9 , 27.  , 19.6 , 24.1 , 26.58, 30.66,
       27.36, 21.86, 30.48, 19.58, 25.84, 25.88, 25.28, 25.8 , 33.84,
       27.8 , 26.72, 27.7 , 28.84, 32.28, 15.2 , 15.5 , 15.3 , 15.2 ,
       20.18, 18.9 , 20.44, 20.3 , 34.54, 29.2 , 30.48, 33.84, 18.82,
       18.58, 18.42, 18.18, 31.68, 33.32, 32.4 , 27.5 , 23.08, 15.7 ,
       24.66, 24.12, 16.7 , 13.48, 15.  , 16.14, 18.32, 33.28, 30.5 ,
       30.86, 25.54, 29.7 , 16.14, 15.1 , 14.9 , 13.8 , 18.24, 20.66,
       18.82, 18.16, 14.6 , 14.7 , 14.9 , 15.08, 30.48, 25.06, 26.04,
       25.06, 33.28, 33.04, 33.92, 30.16, 23.44, 26.68, 25.86, 35.4 ,
       33.54, 35.8 , 33.04, 34.84, 19.62, 18.32, 17.78, 19.72, 18.7 ,
       20.2 , 27.38, 18.88, 19.58, 20.44, 20.9 , 18.32, 21.1 , 17.04,
       18.94, 18.02, 14.7 , 30.16, 27.3 , 25.54, 28.78, 26.02, 24.74,
       23.36, 25.18, 22.34, 21.64, 23.7 , 19.12, 33.12, 35.62, 20.54,
       21.26, 23.1 , 18.44, 20.44, 16.14, 18.32, 15.3 , 16.14, 15.28,
       15.  , 18.06, 16.8 , 30.92, 35.64, 30.92, 27.16, 19.64, 18.1 ,
       27.2 , 19.98, 32.78, 33.56, 33.4 , 32.58, 27.76, 25.32, 26.14,
       27.5 , 33.46, 35.22, 34.28, 33.8 , 27.96, 23.1 , 21.42, 20.94,
       30.16, 26.58, 27.36, 27.78, 28.84, 34.3 , 23.7 , 34.3 , 38.52,
       32.82, 25.88, 24.66, 34.48, 33.86, 33.88, 25.26, 26.32, 26.24,
       27.72, 26.06, 27.  , 24.88, 25.  , 28.6 , 34.24, 34.88, 34.24,
       33.98, 34.44, 33.28, 33.12, 33.9 , 33.28, 27.38, 31.6 , 33.12,
       29.46, 27.48, 27.24, 27.  , 23.08, 24.86, 24.18, 19.5 , 18.32,
       20.9 , 17.42, 26.08, 28.5 , 25.58, 26.3 , 25.68, 25.06, 23.1 ,
       32.52, 33.88, 34.42, 34.58, 34.58, 30.5 , 32.78, 29.82, 34.64,
       34.64, 33.12, 23.08, 23.8 , 27.26, 19.8 , 27.96, 26.8 , 23.2 ,
       24.8 , 36.96, 27.22, 29.5 , 26.58])

#### Compare predictions to reality

In [15]:
model_kn_r.score(X=explanatory, y=target_numerical)

0.8171378313866275

#### Compare predictions to reality in a `DataFrame`

In [16]:
df_pred_regression = target_numerical.to_frame()
df_pred_regression['prediction_regression'] = model_kn_r.predict(X=explanatory)
df_pred_regression

                            mpg  prediction_regression
name
chevrolet chevelle malibu  18.0                  18.24
buick skylark 320          15.0                  15.28
...                         ...                    ...
ford ranger                28.0                  29.50
chevy s-10                 31.0                  26.58

[392 rows x 2 columns]

#### Join regression and classification `DataFrame`

In [17]:
pd.concat([df_pred_classification, df_pred_regression], axis=1)

,origin,prediction_classification,mpg,prediction_regression
name,,,,
chevrolet chevelle malibu,usa,usa,18.0,18.24
buick skylark 320,usa,usa,15.0,15.28
...,...,...,...,...
ford ranger,usa,usa,28.0,29.50
chevy s-10,usa,japan,31.0,26.58

## Other algorithms

### Decision Tree

#### Regression

In [18]:
from sklearn.tree import DecisionTreeRegressor
model_dt_r = DecisionTreeRegressor()

model_dt_r.fit(X=explanatory, y=target_numerical)
model_dt_r.predict(X=explanatory)
model_dt_r.score(X=explanatory, y=target_numerical)

1.0

#### Classification

In [19]:
from sklearn.tree import DecisionTreeClassifier
model_dt_c = DecisionTreeClassifier()

model_dt_c.fit(X=explanatory, y=target_categorical)
model_dt_c.predict(X=explanatory)
model_dt_c.score(X=explanatory, y=target_categorical)

1.0

### Random Forest

#### Regression

In [20]:
from sklearn.ensemble import RandomForestRegressor
model_rf_r = RandomForestRegressor()

model_rf_r.fit(X=explanatory, y=target_numerical)
model_rf_r.predict(X=explanatory)
model_rf_r.score(X=explanatory, y=target_numerical)

0.9833286252204423

#### Classification

In [21]:
from sklearn.ensemble import RandomForestClassifier
model_rf_c = RandomForestClassifier()

model_rf_c.fit(X=explanatory, y=target_categorical)
model_rf_c.predict(X=explanatory)
model_rf_c.score(X=explanatory, y=target_categorical)

1.0

## Compare all models in a `DataFrame`

### Regression models

In [22]:
list_model_regression = [model_kn_r, model_dt_r, model_rf_r]
list_model_regression_names = map(lambda x: x.__class__.__name__, list_model_regression)
list_model_regression_predictions = list(map(lambda x: x.predict(X=explanatory), list_model_regression))
df_pred_regression = pd.DataFrame(
    list_model_regression_predictions,
    index=list_model_regression_names).T.set_index(df.index)

df_pred_regression.insert(0, 'target_numerical', target_numerical)
df_pred_regression

,target_numerical,KNeighborsRegressor,DecisionTreeRegressor,RandomForestRegressor
name,,,,
chevrolet chevelle malibu,18.0,18.24,18.0,17.115
buick skylark 320,15.0,15.28,15.0,14.790
...,...,...,...,...
ford ranger,28.0,29.50,28.0,28.973
chevy s-10,31.0,26.58,31.0,30.213

### Classification models

In [23]:
list_model_classification = [model_kn_c, model_dt_c, model_rf_c]
list_model_classification_names = map(lambda x: x.__class__.__name__, list_model_classification)
list_model_classification_predictions = list(map(lambda x: x.predict(X=explanatory), list_model_classification))
df_pred_classification = pd.DataFrame(
    list_model_classification_predictions,
    index=list_model_classification_names).T.set_index(df.index)

df_pred_classification.insert(0, 'target_categorical', target_categorical)
df_pred_classification

,target_numerical,KNeighborsClassifier,DecisionTreeClassifier,RandomForestClassifier
name,,,,
chevrolet chevelle malibu,usa,usa,usa,usa
buick skylark 320,usa,usa,usa,usa
...,...,...,...,...
ford ranger,usa,usa,usa,usa
chevy s-10,usa,japan,usa,usa